body { 
    overflow: auto; 
    background-color: rgba(254, 246, 233);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

#subtitle {
    color: brown;
    font-size: xx-large;
}




@keyframes title-animation {
    0% {
        opacity: 0;
        transform: translate(-20%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}


@keyframes content-animation {
    0% {
        opacity: 0;
    }
}


@media screen and (min-width: 20px) {

        .title {
            flex: 1;
        }

        .first-name {
            color: brown;
            font-weight: 20;
            font-size: 20vw;

            margin: 0px;
            padding-left: 5%;
            padding-top: 5%;
        }

        .last-name {
            color: brown;
            font-weight: 20;
            font-size: 20vw;

            margin: 0px;
            padding-left: 5%;
            padding-top: 0%;
        }

        

        .descriptor {
            flex: 0 0 300px;
            color: rgb(121, 31, 31);
            padding: 5%;
            
        }

        button {
            width: 20%;
            height: 5ch;
        
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: lighter;
        
            font-size: 80%;
            margin: 5%;
        
            border: none;
            border-radius: 75px;
            background: #fef5e9;
            box-shadow:  14px 14px 27px #f6eee2,
                     -14px -14px 27px #fffcf0;
        }

        #googledoc {
            width: 35ch;
            height: 100ch;
            align-items: center;
            justify-content: center;
            justify-self: center;
            align-self: center;
            border-width: 0ch;
        }
        
        
}

@media screen and (min-width: 800px) {
    .header {
        display: flex;
    }

    .title {
        flex: 1;
    }

    .first-name {
        color: brown;
        font-weight: 20;
        font-size: 15ch;

        margin: 0px;
        padding-left: 5%;
        padding-top: 5%;
    }

    .last-name {
        color: brown;
        font-weight: 20;
        font-size: 15ch;

        margin: 0px;
        padding-left: 5%;
        padding-top: 0%;
    }

    .descriptor {
        flex: 0 0 300px;
        color: rgb(121, 31, 31);
        padding: 5%;
        
    }

    #googledoc {
        width: 100ch;
        height: 100ch;
        align-items: center;
        justify-content: center;
        justify-self: center;
        align-self: center;
        border-width: 0ch;
    }

    /* button {
        width: 20%;
        height: 5ch;
    
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
    
        font-size: 100%;
        margin: 5%;
    
        border: none;
        border-radius: 75px;
        background: #fef5e9;
        box-shadow:  14px 14px 27px #f6eee2,
                 -14px -14px 27px #fffcf0;
    } */
    

    
}




.first-name {
    font-family:'Times New Roman', Times, serif;
    animation-name: title-animation;
    animation-duration: 2s;
}

.last-name {
    font-family:'Times New Roman', Times, serif;
    animation-name: title-animation;
    animation-duration: 3s;
}


#button-bar {
    text-align: center;
}

.tab {
    margin-left: 5%;
    margin-right: 5%;

    animation-name: content-animation;
    animation-duration: 2s;
}

#links {
    text-align: center;

}

/* a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    width: 9ch;
    height: 3ch;
    
    text-align: center;
    padding-top: 0.6ch;
    margin: 1ch;


    border: none;
    border-radius: 50px;
    background: linear-gradient(145deg, #e5ddd2, #fffff9);
    box-shadow:  8px 8px 16px #ddd5cb,
             -8px -8px 16px #ffffff;

}

a.button:hover {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    width: 9ch;
    height: 3ch;
    
    text-align: center;
    padding-top: 0.6ch;
    margin: 1ch;


    border: none;
    border-radius: 50px;
    background: #fef5e9;
    box-shadow: inset 8px 8px 16px #ddd5cb,
                inset -8px -8px 16px #ffffff;
} */

